button{
    background-color: black;
    color: white;
}
.primary {
    background-color: #0d6efd;
}
.primary:hover{
    color:black
}
.secondary{
    background-color: #6c757d;
}
.secondary:hover{
    color:black
}
.danger{
    background-color: #dc3545;
}
.danger:hover{
    color:black
}
.warning{
    background-color: #ffc107;
}
.warning:hover{
    color:black
}
.success{
    background-color: #198754;
}
.success:hover{
    color:black
}
.info{
    background-color: #0dcaf0;
}
.info:hover{
    color:black
}

