body{
    background-color: #2d6ada;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

div{
    background-color:#476b5a;
}
a{
    text-decoration: none;
    color: rgb(3, 255, 45);
    display: inline-block;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    background-color: #0f3825;
}
a:hover{
    color: #000000;
}